@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;

}

.home-container {
  background-image: url('../../img/background_home.svg');
  height: 100vh;
  background-color: #0400ff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.home-header {
  display: flex;
  padding: 20px;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}

nav {
  display: flex;

  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

li a {
  color: #fff;
  text-decoration: none;
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 10px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
}

a:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.conteudo {
  width: 50%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  align-items: center;

  text-align: center;
}

.intro span {
  font-weight: 700;
  text-transform: uppercase;

  color: #fff;
  font-size: 85px;
}

.intro p {
  font-size: 20px;
  text-align: center;
  color: #fff;

}


.button {
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 3.85rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

.home-footer {

  color: #ccc;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}